.d-block.w-100 {
  z-index: 1;
  filter: brightness(50%);
}

.carousel-inner {
  margin-top: -57px;
  height: 77vh;
}
.intro-text-atasi {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.intro-home {
  color: white;
}
.intro-home:hover {
  color: #acacac;
  text-decoration: none;
  cursor: pointer;
}
.intro-about {
  color: white;
}
.intro-about:hover {
  color: #acacac;
  text-decoration: none;
  cursor: pointer;
}
.fa-solid.fa-circle {
  color: white;
}
.carousel-toptext {
  font-size: 64px !important;
}
.carousel-caption {
  bottom: 45% !important;
}
