:root {
  --pink: #f195b2;
  --pinkhover: #eb6891;
  --cream: #f5e1a4;
  --creamhover: #e0c287;
  --chocolate: #7b3f22;
  --chocolatehover: #a15c3d;
}
/* topbar  */
.topbar .col-md-6 a:hover {
  color: var(--chocolate);
  text-decoration: underline;
}
.topbar .col-md-6 {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.topbar {
  background-color: var(--cream);
  padding-top: 16px;
  padding-bottom: 16px;
}
.topbar .col-md-6 a {
  color: var(--chocolate);
  text-decoration: none;
}
.topbar .col-md-6 span {
  color: var(--chocolate);
}
/* navbar  */
.navbar-box::before {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--cream);
  content: "";
}
#navbarNavAltMarkup {
  justify-content: center;
  padding: 15px;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
  border-radius: 60px;
  margin-right: 50px;
  margin-left: 50px;
  height: 75px;
  background-color: var(--chocolate) !important;
  z-index: 400;
}
.navbar-nav {
  gap: 40px;
  height: 40px;
}
.nav-link:hover {
  color: var(--creamhover);
}
.navbar-brand {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -50px;
  height: 200px;
  z-index: 200;
}
.nav-link {
  color: var(--cream);
}
.container-fluid {
  height: 100px;
  z-index: 300;
}
.collapse.navbar-collapse {
  height: 100px;
  z-index: 400;
}
.container {
  z-index: 400;
}
.navbar-box {
  z-index: 200;
}
/* CAROUSEL */
.carousel-caption {
  bottom: 20% !important;
}
.carousel {
  height: 700px;
  margin-top: -60px;
  z-index: 1;
}
.d-block.w-100 {
  height: 700px;
  z-index: 1;
  filter: brightness(50%);
}
.carousel-text {
  z-index: 10;
  font-family: cursive;
  font-size: 50px;
  left: 35%;
  /* position: absolute; */
  top: 45%;
  color: white;
}

.carousel-text-2001 {
  z-index: 10;
  font-family: cursive;
  font-size: 50px;
  left: 40%;
  /* position: absolute; */
  top: 55%;
  color: white;
}

.carousel-toptext {
  z-index: 10;
  font-family: cursive;
  font-size: 25px;
  left: 40%;
  /* position: absolute; */
  top: 40%;
  color: white;
}
.carousel-learnmore {
  left: 44%;
  /* position: absolute; */
  top: 67%;
  background-color: var(--cream);
  color: var(--chocolate);
  border-radius: 100px;
  height: 58px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-family: cursive;
  font-weight: 800 !important;
}
.carousel-learnmore:hover {
  background-color: var(--creamhover);
}

/* mini about us */
.miniabout-container {
  text-align: center;
  margin-top: 100px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.devider {
  background-color: var(--cream);
  height: 5px;
  width: 100px;
  margin-bottom: 10px;
}

.about {
  font-size: 32px;
}

.about-2001 {
  font-size: 32px;
}

.donut-img-6 {
  width: 300px;
  height: 360px;
  display: flex;
  justify-content: center;
}
.col-md-4 {
  background-color: var(--chocolate);
  margin-top: 58px;
  /* width: 300px; */
  /* text-align: left; */
}
.miniabout-learnmorebutton {
  background-color: var(--cream);
  color: var(--chocolate);
  border-radius: 100px;
  height: 58px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-family: cursive;
  font-weight: 800 !important;
}
.miniabout-learnmorebutton:hover {
  background-color: var(--creamhover);
}
.check1 {
  display: flex;
  gap: 10px;
}
.check2 {
  display: flex;
  gap: 10px;
}
.check3 {
  display: flex;
  gap: 10px;
}
.minifeatures-learnmorebutton {
  background-color: var(--chocolate);
  color: var(--cream);
  border-radius: 100px;
  height: 58px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-family: cursive;
  font-weight: 800 !important;
}
.minifeatures-learnmorebutton:hover {
  background-color: var(--chocolatehover);
}
.col-md-4.a {
  display: flex;
  justify-content: center;
}
/* chocolate donut*/
.chocolate-atasi {
  display: flex;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--cream);
}
.col-md-6.chocolate-text {
  text-align: center;
  color: var(--chocolate);
}

.chocolate-image {
  width: 100%;
  height: 400px;
}
.chocolatedonut-text {
  font-size: 25px;
}
.chocolate-price-circle {
  background-color: white;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chocolatedonut-button {
  background-color: var(--chocolate);
  color: var(--cream);
  border-radius: 100px;
  height: 58px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-family: cursive;
  font-weight: 800 !important;
}
.chocolatedonut-button:hover {
  background-color: var(--chocolatehover);
}
.chocolate-price-circle-atasi {
  display: flex;
  justify-content: center;
}
.chocolate-price {
  font-size: 25px;
}
/* Owl Carousel */
.carousel-container {
  text-align: center;
  margin-top: 100px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Owl-devider {
  background-color: var(--cream);
  height: 5px;
  width: 100px;
  margin-bottom: 10px;
}
.carousel-atasi {
  gap: 10px;
  padding-top: 10px;
}
.carousel-text-atasi {
  font-size: 32px;
  line-height: 20px;
  margin-bottom: 50px;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag {
  padding-top: 30px;
}
.owl-text {
  background-color: var(--cream);
  color: var(--chocolate);
  font-size: 32px;
  z-index: 100;
  padding-top: 20px;
}
.owl-img {
  background-color: var(--chocolate);
  height: 190px;
}
.owl-button {
  background-color: var(--chocolate);
  color: var(--cream);
  border-radius: 100px;
  height: 58px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-family: cursive;
  font-weight: 800 !important;
  margin-bottom: 25px;
}
.owl-button:hover {
  background-color: var(--chocolatehover);
}
.owl-price {
  position: absolute;
  width: 100px;
  border-radius: 50px;
  background-color: var(--cream);
  color: var(--chocolate);
  font-size: 32px;
  font-family: cursive;
  left: 30%;
  top: 42%;
  z-index: 100;
  border: 1px solid var(--chocolate);
}
.owl-item .item {
  position: relative;
}
.owl-text::before {
  top: 189px;
  display: flex;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: var(--cream);
  content: "";
}
.owl-nav {
  display: flex;
  position: absolute;
  top: -30px;
  right: 100px;
  gap: 15px;
}
.owl-nav .fa.fa-angle-left {
  font-size: 50px;
}
.owl-nav .fa.fa-angle-right {
  font-size: 50px;
}
/* FOOOOOOOOOOOOOOOOOOTER */
.footer-himself {
  background-color: var(--cream);
  margin-top: 150px;
  text-align: center;
  height: 360px;
}
.footer-brand {
  margin-top: 13px;
  height: 157px;
  margin-bottom: 7px;
}
.footer-himself .icon-atasi a {
  color: var(--chocolate);
  text-decoration: none;
}
.footer-text-atasi {
  display: flex;
}
.footer-text-atasi .col-md-6.footer-text {
  text-align: right;
  color: var(--chocolate);
  font-size: 12px;
}
.footer-text-atasi .col-md-6.footer-text-2 {
  text-align: left;
  color: var(--chocolate);
  font-size: 12px;
}
.footer-text-3 {
  font-size: 12px;
}
.icon-atasi {
  padding-bottom: 25px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

/* about for all */
.d-block.w-100 {
  z-index: 1;
  filter: brightness(50%);
}

.carousel-inner {
  margin-top: -57px;
  height: 77vh;
}
.carousel-text-container.carousel-caption.d-none.d-md-block {
  bottom: 50% !important;
}
.intro-text-atasi {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.intro-home {
  color: white;
}
.intro-home:hover {
  color: #acacac;
  text-decoration: none;
  cursor: pointer;
}
.intro-about {
  color: white;
}
.intro-about:hover {
  color: #acacac;
  text-decoration: none;
  cursor: pointer;
}
.fa-solid.fa-circle {
  color: white;
}
.carousel-toptext {
  font-size: 64px !important;
}
/* Gallery only  */
.about-2001 {
  font-size: 20px !important;
}

/* .col-md-4 {
  display: flex;
} */
.gallery-img {
  height: 200px;
  width: 200px;
}
.col-md-4.a {
  display: block !important;
}
.portfolio-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--chocolate);
  display: none;
  z-index: 999999;
  transform: translate(-50%, -50%);
}
.text-primary {
  color: var(--cream) !important;
}
.gallery-img-box {
  background-color: var(--chocolate);
}
.gallery-img-box:hover img {
  filter: brightness(50%);
}
.gallery-img-box:hover .portfolio-btn {
  display: block;
}
.row.about-atasi.portfolio-container {
  padding-top: 50px;
}
.gallery-img-box:hover {
  background-color: #3e2011;
}
.carousel-caption {
  bottom: 45% !important;
}
